[access]
	inheritFrom = All-Projects
[project]
	description = just test gcc/gcc for arm
[access "refs/*"]
	owner = group user/JasonZhou0
[access "refs/for/refs/*"]
	read = group user/JasonZhou0
	push = group user/JasonZhou0
	label-Code-Review = -2..+2 group user/JasonZhou0
	label-Verified = -1..+1 group user/JasonZhou0
	rebase = group user/JasonZhou0
	removeReviewer = group user/JasonZhou0
	submit = group user/JasonZhou0
[access "refs/heads/*"]
	read = group user/JasonZhou0
	create = group user/JasonZhou0
	push = +force group user/JasonZhou0
	pushMerge = group user/JasonZhou0
[access "refs/tags/*"]
	push = group user/JasonZhou0
	push = +force group user/JasonZhou0
